<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:9999</destination> <!-- Replace logstash-host with your Logstash host -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="LOGSTASH" />
        </root>
    </springProfile>

</configuration>